USE [master]
GO
/****** Object:  Database [SunExpress]    Script Date: 22.09.2019 19:23:32 ******/
CREATE DATABASE [SunExpress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SunExpress', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SunExpress.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SunExpress_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SunExpress_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SunExpress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SunExpress]
GO
USE [SunExpress]
GO
/****** Object:  User [IIS APPPOOL\test]    Script Date: 22.09.2019 19:23:32 ******/
CREATE USER [IIS APPPOOL\test] FOR LOGIN [IIS APPPOOL\test] WITH DEFAULT_SCHEMA=[db_denydatareader]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 22.09.2019 19:23:32 ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\test]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\DefaultAppPool]
GO
/****** Object:  Table [dbo].[ApiUsers]    Script Date: 22.09.2019 19:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApiUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_ApiUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crew]    Script Date: 22.09.2019 19:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crew](
	[CrewID] [nvarchar](6) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Airline] [nvarchar](50) NULL,
	[Airport] [nvarchar](50) NULL,
	[Title] [nvarchar](10) NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
 CONSTRAINT [PK_Crew] PRIMARY KEY CLUSTERED 
(
	[CrewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightScheduleDayOfWeek]    Script Date: 22.09.2019 19:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightScheduleDayOfWeek](
	[DayID] [int] IDENTITY(1,1) NOT NULL,
	[WeekDay] [varchar](50) NULL,
	[IsSchedule] [bit] NULL,
	[Currency] [varchar](5) NULL,
	[SpendPerHead] [int] NULL,
	[IncentiveTarget] [int] NULL,
	[FlightScheduleID] [int] NOT NULL,
 CONSTRAINT [PK_DayOfWeek2] PRIMARY KEY CLUSTERED 
(
	[DayID] ASC,
	[FlightScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightSchedule]    Script Date: 22.09.2019 19:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightSchedule](
	[FlightScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[FlightNum] [int] NULL,
	[Airline] [nvarchar](10) NULL,
	[OriginatingAirport] [nvarchar](10) NULL,
	[DestinationAirport] [nvarchar](10) NULL,
	[TourOperator] [bit] NULL,
	[DepartureTime] [time](0) NULL,
	[ArrivalTime] [time](0) NULL,
	[SectorLength] [time](0) NULL,
	[EffectiveStartDate] [int] NULL,
	[EffectiveEndDate] [int] NULL,
 CONSTRAINT [PK_FlightSchedule] PRIMARY KEY CLUSTERED 
(
	[FlightScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightScheduleCrew]    Script Date: 22.09.2019 19:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightScheduleCrew](
	[FlightScheduleCrewID] [int] IDENTITY(1,1) NOT NULL,
	[CrewID] [nvarchar](50) NULL,
	[FlightScheduleID] [int] NULL,
 CONSTRAINT [PK_FlightScheduleCrew] PRIMARY KEY CLUSTERED 
(
	[FlightScheduleCrewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostFlight]    Script Date: 22.09.2019 19:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostFlight](
	[PostFlightID] [int] IDENTITY(1,1) NOT NULL,
	[FlightNum] [int] NULL,
	[OriginatingAirport] [nvarchar](10) NULL,
	[DestinationAirport] [nvarchar](10) NULL,
	[Airline] [nvarchar](10) NULL,
	[FlightDate] [int] NULL,
	[PassengerCount] [int] NULL,
	[DepartureTime] [time](0) NULL,
	[ArrivalTime] [time](0) NULL,
	[AircraftRegistrationNo] [nvarchar](10) NULL,
 CONSTRAINT [PK_PostFlight] PRIMARY KEY CLUSTERED 
(
	[PostFlightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostFlightCrew]    Script Date: 22.09.2019 19:23:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostFlightCrew](
	[PostFlightCrewID] [int] IDENTITY(1,1) NOT NULL,
	[CrewID] [varchar](50) NULL,
	[PostFlightID] [int] NULL,
 CONSTRAINT [PK_PostFlightCrew] PRIMARY KEY CLUSTERED 
(
	[PostFlightCrewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
